global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_front
    bind *:80
    bind *:443 ssl crt /usr/local/etc/haproxy/certs/haproxy-combined.pem

    stick-table type ip size 100k expire 30s store http_req_rate(10s)
    http-request track-sc0 src
    http-request deny deny_status 429 if { sc_http_req_rate(0) gt 20 }

    default_backend backend_servers

backend backend_servers
    balance roundrobin
    # balance leastconn
    # balance source

    server backend1 backend1:3000 check
    server backend2 backend2:3000 check
    server backend3 backend3:3000 check

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats show-legends
    stats auth admin:Demo@2026

