global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_front
    bind *:80
    default_backend backend_servers

backend backend_servers
    #balance roundrobin
    balance leastconn
    #balance source
    server backend1 backend1:3000 check #weight 4
    server backend2 backend2:3000 check #weight 1
    server backend3 backend3:3000 check #weight 2

    # option httpchk GET /
    # server backend1 backend1:3000 check inter 2000 rise 2 fall 3
listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats show-legends
